/*
 * additional style for the templates
 * author: joseph chingalo
 * e-mail: profschingalo@gmail.com
 * mobile:+255687168637 or +255718922311
 * facebook username:profschingalo
 * whatsapp number:+255687168637
 * 
 * ==================================
 * /

/* Additional style for slides and a side news */
#slide_and_news{
padding-top:10px;
}
#slide img{
height:370px;
width:850px;
margin-left:13px;
border:1px solid black;
border-radius:10px;
}
#news{
padding:6px;	
border-radius:10px;
border:1px solid;
}		
#news h4{
font-size:;
font-family:;
color:;
text-decoration:;
font-style:bold;
text-align:center;
border-bottom:1px solid #BFBFBF;
border-radius:2px;
}
#news a{
display:block;
border-bottom:1px solid;
border-radius:2px;
font-family:;
font-style:;
color:;
text-align:justify;		
}
/* Additional syles for articles and tabs on twitter.html */
.all_articles{
background-color:#BFBFBF;
border:1px solid;
margin: 20px;
border-radius:10px;
height:250px;
}
.tabs_with_arcticles{
padding:20px;
}	
/*additional syles for breadcrumbs*/
#breadcrumb-custom{
margin: 5px auto;
}
#columns{
margin:2px auto;
}
.around_two_column{
border:1px solid;
border-radius:10px;
margin:10px;
}
.left{
border:1px solid;
padding: 10px;
border-radius:10px;
margin:5px;
}
.right{
border:1px solid;
padding: 10px;
border-radius:10px;
margin:5px;
}





