*{
margin: 0px;
padding:0px;
}
header,nav, footer, arcticle, footer, section{
display: block;
}
body{
background:#47637E;
width:100%;
display: -webkit-box;
-webkit-box-pack: center;
}
#main_body{
max-width: 1000px;
margin: 20px 0px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-box-flex:1;
}
header{
font: 19px bold Tahoma;
border: 2 px solid black;

}
.menu{
border: #1E90FF;
background:#1E90FF;
}
.menu li{
border-right: 2px solid black;	
display: inline-block;
list-style: none;
font: bold 18px Tahoma;
padding: 5px;
}
#mini_body{ 
display: -webkit-box;
-webkit-box-orient:horizontal;

 }
#main_contents{
border: 1px solid blue;
-webkit-box-flex: 1;
margin:  20px;
padding: 20px;
}

#aside_bar{
border: 1px solid blue;
width: 220px;
margin: 20px 15px;
padding: 5px;
}	
.arcticles{		
	display: -webkit-box;
    -webkit-box-orient:horizontal;
    
}
.tabs{	
border: #1E90FF;
background:#1E90FF;
}
.tabs li{
background: #1E90FF;
padding: 5px;	
display: inline-block;
font: bold 18px Tahoma;
border-right: 1px solid black;
}
.other_articles{
border: 3px solid blue;
}
