{% load sekizai_tags i18n cms_tags menu_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<title >{% page_attribute page_title %}</title>
		<meta charset="utf-8">
		<meta http-equiv='refresh' content='30'
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--styles files-->
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap-responsive.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/docs.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/prettify.css" >
		<link rel="stylesheet" media= 'screen' href="{{STATIC_URL}}css/style.css">
	</head>
	
	<body>
		<!--body of base template-->
		<!-- navigation bar-->
		
		<div class ="navbar navbar-static-top " >
	<div class = "navbar-inner" >
		<div class ='container'>
						
				<ul class="nav"> 
					{% show_menu 0 100 100 100 "navigation.html" %}	
				 </ul>				

	</div>
</div>		
		
		<div style="margin-top:10px">
		<!--contents from other templates-->
		
		<div class ='container-fluid' >
			<!-- breadcrumbs-->
			<div class='row-fluid'id='breadcrumb-custom' >
			<ul class='breadcrumb' style='background-color:white;'>
			{% show_breadcrumb %}
					</div>	
		</div>
		<div class = 'container-fluid'>
			{% block contents %}{% endblock %}
		</div>
		<!--footer-->
		<div class='container-fluid'>
			<footer style="border-top:2px solid #BFBFBF;">
				<div class='row-fluid'>
				<div class='span4'>
					<!--first column at footer-->
				</div>
				<div class='span4'>
					<!--second column at footer-->
				</div>
				<div class='span4'>
					<!--third column at footer-->
				</div>
				<p align=center> &copy;2013 Human Resource For Health</p>
				</div>
			</footer>
		</div>
		
		
<!--js links for bootstrap-->
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
<script>
	!function ($) {
		 $('#myCarousel').carousel()
		})
	 }(window.jQuery)
</script>
<script src="{{STATIC_URL}}js/bootstrap-affix.js"></script>
<script src="{{STATIC_URL}}js/holder.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-affix.js"></script>
<script src="{{STATIC_URL}}js/prettify.js"></script>
<script src="{{STATIC_URL}}js/application.js"></script>
<!--end of js files from bootstrap-->	
    
		</body>
</html>
