{% load sekizai_tags i18n cms_tags menu_tags %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>		
		<meta charset="utf-8">
		<title>{% page_attribute page_title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" media="all">
		{% block other_pages_style %}{% endblock %}
	</head>
	<body>
		<div id="page">
			<div>
				<nav id='menu_navigation'>
					<ul id='menus'>
					<li><a href="">HOME</a></li>
					<li><a href="">MISSION AND VISION</a></li>
					<li><a href="">CONTACT US</a></li>
					<li><a href="">ABOUT US</a></li>
					</ul>
				</nav>
			</div>
			<div id='contents'>
				
				{% block contents_of_the_page %}{% endblock %}
			</div>
		</div>
	</body>
</html>	
