{% extends "base.html" %}
{% load cms_tags %}
{% block other_pages_style %}
<style>
#breadcrumbs{
margin:10px auto;
width:970px;
border:1px solid black;
height:25px;
border-radius:20px;
padding:15px;
}
#two_rows{
max-width:990px;
margin:5px auto;
height:500px;
display:-webkit-box;
-webkit-box-orient:vertical;
}
#first_row{
border:1px solid;
border-radius:10px;
margin:10px;
padding:30px;
text-align:justify;
font-size:;
font-family:;
color:;
background-color:;
}
#second_row{
border:1px solid;
border-radius:10px;
margin:10px;
padding:30px;
text-align:justify;	
font-size:;
font-family:;
color:;
background-color:;
}
</style>
{% endblock %}
{% block contents_of_the_page %}
<div id='breadcrumbs'>
not yet solved:breadcrumbs
</div>
<div id='two_rows'>
<div id='first_row'>
{% placeholder first_row %}
</div>
<div id='second_row'>
{% placeholder second_row %}
</div>
</div>
{% endblock %}
