{% extends "base2.html" %}
{% load cms_tags %}
{% block contents %}
<!-- breadcrumbs-->
<div class='row-fluid' id='breadcrumb-custom'>
<ul class='breadcrumb'>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li class='active'><!--active directory--></li>
</ul>
</div>
<!-- Two columns-->
<div class = "row-fluid" id = "columns">
<!-- left column-->
<div class="span6">

</div>
<!-- right column-->
<div class="span6">

</div>
</div>
{% endblock %}
