{% extends "base2.html" %}
{% load cms_tags %}
{% block contents %}
<!-- breadcrumbs-->
<div class='row-fluid' id='breadcrumb-custom'>
<ul class='breadcrumb'>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li class='active'><!--active directory--></li>
</ul>
</div>
<div id='outer-row'>
<!--rows-->
<div id='rows'>
<div id='row1'>
<!--first row-->
{% placeholder first_row or %} not yet added {% endplaceholder %}
</div>
<div id='row2'>
<!--second row-->
{% placeholder second_row or %} not yet added {% endplaceholder %}
</div>
</div>
{% endblock %}
