{% extends "base2.html" %}
{% load cms_tags %}
{% block contents %}
<!-- breadcrumbs-->
<div class='row-fluid' id='breadcrumb-custom'>
<ul class='breadcrumb'>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li class='active'><!--active directory--></li>
</ul>
</div>

<!-- Two columns-->
<div class='around_two_column'>
<div class = 'row-fluid'>
<div class='span6'>
<!-- left column-->
<div id='left' >{% placeholder left or %} not yet added {% endplaceholder %}</div>
</div>
<div class= 'span6'>
<!-- right column-->
<div id='right'>{% placeholder right or %} not yet added {% endplaceholder%}</div>
</div>
</div>
</div>
{% endblock %}
<div class=">




</div>
