{% extends "base2.html" %}
{% load cms_tags %}
{% block contents %}
<!--slide shows and news-->
<div class='row-fluid'>
<div class='span1'>
<!-- not yet-->
</div>	
<div class='span8'>
<!--slide show-->
<div id="myCarousel" class="carousel slide"> 
<!--items for slide show-->
<div id='slide' class ='carousel-inner' >
	
<div class='item '>
<img src="{{MEDIA_URL}}img/1.jpg"  alt>

</div>

<div  class='item'>
<img src="{{MEDIA_URL}}img/2.jpg"  alt>

</div>

<div class='item active'>
<img src="{{MEDIA_URL}}img/3.png"  alt>

</div>
</div>
<!--direction on slide show-->
<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
</div>
</div>
</div>
<div class='span3'>
<!--news-->
</div>
</div>
{% endblock %}
