{% extends "base2.html" %}
{% load cms_tags %}
{% block contents %}
<!-- breadcrumbs-->
<div class='row-fluid' id='breadcrumb-custom'>
<ul class='breadcrumb'>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li><a href="#"> </a><span class='divider'> <!-- symbol for separation--></span></li>
<li class='active'><!--active directory--></li>
</ul>
</div>
<div class = 'row-fluid' id='three_columns'>
<!--three rows-->
<div class = 'span4' id='columns'>
<!--column-->
</div>
<div class = 'span4' id='columns'>
<!--column-->
</div>
<div class = 'span4' id='columns'>
<!--column-->
</div>
</div>
{% endblock %}
